<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656254889670-budfcgock1bgn6dvuis1dof7e383nji0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656254889670-budfcgock1bgn6dvuis1dof7e383nji0</string>
	<key>API_KEY</key>
	<string>AIzaSyBEAHezYuQR1LyyAWep_-YD0Z43PkS5NDU</string>
	<key>GCM_SENDER_ID</key>
	<string>656254889670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nepflix</string>
	<key>PROJECT_ID</key>
	<string>nepflix-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nepflix-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656254889670:ios:f6037f73405107d5b9b1c7</string>
</dict>
</plist>